In [54]:
# Importing libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

In [55]:
# Reading all datasets
circuits=pd.read_csv('circuits.csv')
constr=pd.read_csv('constructor_results.csv')
driver=pd.read_csv('driver_standings.csv')
qualis=pd.read_csv('qualifying.csv')
races=pd.read_csv('races.csv')
results=pd.read_csv('results.csv')
df1=pd.read_csv('cleaned_v2.csv')

Data cleaning  and Analysis

In [56]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB

In [57]:
circuits.head(2)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738,18,http://en.wikipedia.org/wiki/Sepang_Internatio...

In [58]:
constr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12290 entries, 0 to 12289
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12290 non-null  int64
 1   raceId                12290 non-null  int64
 2   constructorId         12290 non-null  int64
 3   points                12290 non-null  float64
 4   status                12290 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 480.2+ KB

In [59]:
constr.head(2)

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N

In [60]:
driver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34124 entries, 0 to 34123
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  34124 non-null  int64
 1   raceId             34124 non-null  int64
 2   driverId           34124 non-null  int64
 3   points             34124 non-null  float64
 4   position           34124 non-null  int64
 5   positionText       34124 non-null  object
 6   wins               34124 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB

In [61]:
driver.head(2)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0

In [62]:
qualis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   object
 7   q2             9651 non-null   object
 8   q3             9488 non-null   object
dtypes: int64(6), object(3)
memory usage: 690.2+ KB

In [63]:
qualis.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [64]:
races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1101 non-null   int64
 1   year         1101 non-null   int64
 2   round        1101 non-null   int64
 3   circuitId    1101 non-null   int64
 4   name         1101 non-null   object
 5   date         1101 non-null   object
 6   time         1101 non-null   object
 7   url          1101 non-null   object
 8   fp1_date     1101 non-null   object
 9   fp1_time     1101 non-null   object
 10  fp2_date     1101 non-null   object
 11  fp2_time     1101 non-null   object
 12  fp3_date     1101 non-null   object
 13  fp3_time     1101 non-null   object
 14  quali_date   1101 non-null   object
 15  quali_time   1101 non-null   object
 16  sprint_date  1101 non-null   object
 17  sprint_time  1101 non-null   object
dtypes: int64(4), object(14)
memory usage: 155.0+ KB

In [65]:
races.head(2)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [66]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   number           26080 non-null  object
 5   grid             26080 non-null  int64
 6   position         26080 non-null  object
 7   positionText     26080 non-null  object
 8   positionOrder    26080 non-null  int64
 9   points           26080 non-null  float64
 10  laps             26080 non-null  int64
 11  time             26080 non-null  object
 12  milliseconds     26080 non-null  object
 13  fastestLap       26080 non-null  object
 14  rank             26080 non-null  object
 15  fastestLapTime   26080 non-null  object
 16  fastestLapSpeed  26080 non-null  object
 17  statusId         26080 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB

In [67]:
results.head(2)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1

In [68]:
# Merging and concatating the dataframes into one dataframe
df = pd.concat([circuits,results,races,qualis,driver,constr], ignore_index=True, sort=False)

In [69]:
df.head(2)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,resultId,...,sprint_date,sprint_time,qualifyId,q1,q2,q3,driverStandingsId,wins,constructorResultsId,status
0,1.0,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738,18,http://en.wikipedia.org/wiki/Sepang_Internatio...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83487 entries, 0 to 83486
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   circuitId             1178 non-null   float64
 1   circuitRef            77 non-null     object
 2   name                  1178 non-null   object
 3   location              77 non-null     object
 4   country               77 non-null     object
 5   lat                   77 non-null     float64
 6   lng                   77 non-null     float64
 7   alt                   77 non-null     object
 8   url                   1178 non-null   object
 9   resultId              26080 non-null  float64
 10  raceId                83410 non-null  float64
 11  driverId              70019 non-null  float64
 12  constructorId         48185 non-null  float64
 13  number                35895 non-null  object
 14  grid                  26080 non-null  float64
 15  position              70019 non-null  object
 16  positionText          60204 non-null  object
 17  positionOrder         26080 non-null  float64
 18  points                72494 non-null  float64
 19  laps                  26080 non-null  float64
 20  time                  27181 non-null  object
 21  milliseconds          26080 non-null  object
 22  fastestLap            26080 non-null  object
 23  rank                  26080 non-null  object
 24  fastestLapTime        26080 non-null  object
 25  fastestLapSpeed       26080 non-null  object
 26  statusId              26080 non-null  float64
 27  year                  1101 non-null   float64
 28  round                 1101 non-null   float64
 29  date                  1101 non-null   object
 30  fp1_date              1101 non-null   object
 31  fp1_time              1101 non-null   object
 32  fp2_date              1101 non-null   object
 33  fp2_time              1101 non-null   object
 34  fp3_date              1101 non-null   object
 35  fp3_time              1101 non-null   object
 36  quali_date            1101 non-null   object
 37  quali_time            1101 non-null   object
 38  sprint_date           1101 non-null   object
 39  sprint_time           1101 non-null   object
 40  qualifyId             9815 non-null   float64
 41  q1                    9807 non-null   object
 42  q2                    9651 non-null   object
 43  q3                    9488 non-null   object
 44  driverStandingsId     34124 non-null  float64
 45  wins                  34124 non-null  float64
 46  constructorResultsId  12290 non-null  float64
 47  status                12290 non-null  object
dtypes: float64(18), object(30)
memory usage: 30.6+ MB

In [71]:
df.columns

Index(['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'url', 'resultId', 'raceId', 'driverId', 'constructorId',
       'number', 'grid', 'position', 'positionText', 'positionOrder', 'points',
       'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'year', 'round', 'date', 'fp1_date',
       'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'qualifyId',
       'q1', 'q2', 'q3', 'driverStandingsId', 'wins', 'constructorResultsId',
       'status'],
      dtype='object')

In [72]:
df1.columns

Index(['vv', 'GP_name', 'quali_pos', 'driver', 'age_at_gp_in_days', 'position',
       'driver_confidence', 'active_driver'],
      dtype='object')

In [73]:
# Dropping unwanted colunms and Nan values
df.drop(['circuitId','lat','url','resultId','sprint_date','sprint_time','lng','location','alt','q1','q2','q3','status','qualifyId','circuitRef','name','positionText','time','laps','fastestLap','milliseconds','rank','fp1_date','fp2_date','fp3_date','year'],axis=1,inplace=True)
df.dropna()
df1.drop(['vv','active_driver'],axis=1,inplace=True)

In [74]:
df1.head()

,GP_name,quali_pos,driver,age_at_gp_in_days,position,driver_confidence
0,Albert Park Grand Prix Circuit,12,Daniel Ricciardo,10851,12,0.942197
1,Albert Park Grand Prix Circuit,14,Kevin Magnussen,8567,15,0.952381
2,Albert Park Grand Prix Circuit,9,Carlos Sainz,8606,9,0.903846
3,Albert Park Grand Prix Circuit,16,Valtteri Bottas,8602,16,0.965035
4,Albert Park Grand Prix Circuit,15,Valtteri Bottas,8966,10,0.965035

In [75]:
df1['driver_confidence'].max()

np.float64(1.0)

In [76]:
df1['driver_confidence'].min()

np.float64(0.844444444)

In [77]:
df1.drop(['driver_confidence'],axis=1,inplace=True)

In [78]:
df1.head()

,GP_name,quali_pos,driver,age_at_gp_in_days,position
0,Albert Park Grand Prix Circuit,12,Daniel Ricciardo,10851,12
1,Albert Park Grand Prix Circuit,14,Kevin Magnussen,8567,15
2,Albert Park Grand Prix Circuit,9,Carlos Sainz,8606,9
3,Albert Park Grand Prix Circuit,16,Valtteri Bottas,8602,16
4,Albert Park Grand Prix Circuit,15,Valtteri Bottas,8966,10

In [79]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GP_name            1941 non-null   object
 1   quali_pos          1941 non-null   int64
 2   driver             1941 non-null   object
 3   age_at_gp_in_days  1941 non-null   int64
 4   position           1941 non-null   int64
dtypes: int64(3), object(2)
memory usage: 75.9+ KB

In [80]:
df1['GP_name'].nunique()

27

In [81]:
df1['driver'].nunique()

20

In [82]:
# Label Encoding
le=LabelEncoder()
df1['GP_name']=le.fit_transform(df1['GP_name'])
k=list(le.classes_)
df1['driver']=le.fit_transform(df1['driver'])
j=list(le.classes_)

In [83]:
j,k

(['Alexander Albon',
  'Antonio Giovinazzi',
  'Carlos Sainz',
  'Charles Leclerc',
  'Daniel Ricciardo',
  'Daniil Kvyat',
  'Esteban Ocon',
  'George Russell',
  'Kevin Magnussen',
  'Kimi Räikkönen',
  'Lance Stroll',
  'Lando Norris',
  'Lewis Hamilton',
  'Max Verstappen',
  'Nicholas Latifi',
  'Pierre Gasly',
  'Romain Grosjean',
  'Sebastian Vettel',
  'Sergio Pérez',
  'Valtteri Bottas'],
 ['Albert Park Grand Prix Circuit',
  'Autodromo Nazionale di Monza',
  'Autódromo Hermanos Rodríguez',
  'Autódromo José Carlos Pace',
  'Bahrain International Circuit',
  'Baku City Circuit',
  'Buddh International Circuit',
  'Circuit Gilles Villeneuve',
  'Circuit Paul Ricard',
  'Circuit de Barcelona-Catalunya',
  'Circuit de Monaco',
  'Circuit de Spa-Francorchamps',
  'Circuit of the Americas',
  'Hockenheimring',
  'Hungaroring',
  'Istanbul Park',
  'Korean International Circuit',
  'Marina Bay Street Circuit',
  'Nürburgring',
  'Red Bull Ring',
  'Sepang International Circuit',
  'Shanghai International Circuit',
  'Silverstone Circuit',
  'Sochi Autodrom',
  'Suzuka Circuit',
  'Valencia Street Circuit',
  'Yas Marina Circuit'])

In [84]:
df1['age_at_gp_in_days'].max(),df1['age_at_gp_in_days'].min()

(np.int64(14886), np.int64(6375))

In [85]:
df1['age_at_gp_in_days']

0       10851
1        8567
2        8606
3        8602
4        8966
        ...
1936    12065
1937    12429
1938     9691
1939    10055
1940     8156
Name: age_at_gp_in_days, Length: 1941, dtype: int64

In [86]:
np.average(df1['age_at_gp_in_days'])

np.float64(9676.050489438434)

In [87]:
df1.head()

   GP_name  quali_pos  driver  age_at_gp_in_days  position
0        0         12       4              10851        12
1        0         14       8               8567        15
2        0          9       2               8606         9
3        0         16      19               8602        16
4        0         15      19               8966        10

In [88]:
# Splitting the independent and dependent variables
X=df1.drop(['position'],axis=1)
y=df1['position']

In [89]:
# Splitting data to Training and testing data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [90]:
rfc=RandomForestClassifier()

In [91]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [92]:
y_pred=rfc.predict(X_test)

In [93]:
y_pred

array([11, 11, 10,  1,  8, 15, 10,  4,  6, 14,  2, 10,  7, 12,  7,  1,  4,
       15,  3,  3,  9, 12,  1, 18,  8,  6, 17,  6, 14,  5,  2,  9, 17,  3,
       11, 15, 12, 11,  3, 20,  2, 13,  7,  7,  3,  7,  5,  6,  4, 13,  4,
       23,  6,  1,  7, 16,  2,  5, 11,  7,  2, 17, 16, 19,  8,  6, 23, 21,
        9, 18, 11, 17, 17, 15,  1, 14,  7,  2,  2,  7,  6,  2,  5,  7,  4,
        2, 18,  6, 19,  1, 21,  3,  3,  9,  3, 12, 11, 11, 15, 10,  4, 10,
       12, 13, 14, 14, 12, 19,  7, 10,  1,  4, 20,  1, 13,  4,  1,  9,  6,
        6,  3, 11,  7, 16, 10,  5,  5,  3,  8,  6,  5,  3,  2,  4, 10, 11,
        6,  5, 15,  8,  5, 13, 13, 14, 10,  7,  4,  3, 17, 14, 14,  4,  3,
        2,  1,  8,  9, 10,  1,  9, 10,  8,  5, 16,  7,  4, 12,  1,  1,  5,
        4,  3,  1, 14,  5,  9, 16,  9, 16, 12, 14,  8, 14, 15,  4, 14, 14,
       17,  8, 17,  6,  5,  2,  1, 12, 15,  6, 10,  3, 10, 16,  2, 12, 10,
       15,  6,  9, 15, 14, 14,  8,  8,  9,  1,  3, 14,  3,  2, 16,  4,  6,
       13, 14,  1,  8,  4, 17, 10,  8,  8,  2,  4, 18,  4,  5,  6,  4, 17,
       18,  1,  4, 21,  6,  4, 20, 20,  9, 24,  1, 17, 17, 10,  5, 11,  3,
        9, 14,  6,  6, 17,  6, 13,  4,  4,  8,  2,  9,  7,  4, 10, 17, 14,
        8, 14,  7,  8,  1,  8, 16, 10,  1,  3,  8, 20,  2,  1,  1,  8,  9,
        3,  8, 13,  7, 15,  1, 12,  6,  6, 10,  8, 19, 17,  1,  7,  1,  4,
       14,  1,  6, 15,  7,  9,  1, 15, 11, 14, 14,  8, 13,  1,  9,  1,  6,
        6,  1,  2,  5,  1, 11, 10,  3, 11,  2,  4, 18, 12, 15, 11, 17,  1,
       16,  7,  2,  2,  9,  2, 10,  2, 18,  1,  8, 15, 16,  9, 12, 17, 13,
        7, 14,  7,  1, 12,  9,  3, 11,  5,  7,  8,  2,  9,  9,  4, 16,  7,
       10, 11, 16, 15,  3,  8,  4, 14, 11,  6, 20, 16, 16,  2, 17])

In [94]:
r2_score(y_pred,y_test)

0.8231260433077537

In [95]:
import numpy as np
rfc.predict(np.array([0,12,4,10851]).reshape(1,-1))[0]

c:\Users\rkdat\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

np.int64(12)

In [96]:
import joblib
joblib.dump(rfc, 'rfclassifier.joblib')

['rfclassifier.joblib']